@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <title></title>
   
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    @*<script src="scripts/jquery-3.6.0.js" type="text/javascript"></script>*@

    <!-- For the JavaScript APIs for Office, go to https://aka.ms/officejs-overview to learn more. -->
    <script src="https://appsforoffice.microsoft.com/lib/1/hosted/office.js" type="text/javascript"></script>

    <!-- To enable offline debugging using a local reference to Office.js, use: -->
    <!-- <script src="Scripts/Office/MicrosoftAjax.js" type="text/javascript"></script>  -->
    <!-- <script src="Scripts/Office/1/office.js" type="text/javascript"></script>  -->

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="~/js/MessageBanner.js" type="text/javascript"></script>
  @*  <script src="~/js/EmailContent.js?v3.0" type="text/javascript"></script>*@
    <link href="~/css/Button.css" rel="stylesheet" type="text/css" />
    <link href="~/css/Settings.css?v3.0" rel="stylesheet" type="text/css" />

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">


    @*<link href="~/css/MessageBanner.css" rel="stylesheet" type="text/css" />*@


    <!-- For the Office UI Fabric Core, go to https://aka.ms/office-ui-fabric to learn more. -->
    <link rel="stylesheet" href="https://static2.sharepointonline.com/files/fabric/office-ui-fabric-core/9.6.0/css/fabric.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">

    <script src="https://www.gstatic.com/firebasejs/8.7.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.7.0/firebase-auth.js"></script>
    <script src="https://cdn.auth0.com/js/auth0/9.18/auth0.min.js"></script>



    <script src="~/js/testing.js?v4.1" type="text/javascript"></script>




    <!-- To enable the offline use of Office UI Fabric Core, use: -->
    <!-- link rel="stylesheet" href="Content/fabric.min.css" -->
    <!-- Office UI Fabric JS and it's components are no longer actively supported. Please see https://aka.ms/PnP-OfficeFabricReact for recommended Patterns and Practices -->
    <!-- <link rel="stylesheet" href="https://appsforoffice.microsoft.com/fabric/2.1.0/fabric.components.min.css" /> -->

</head>

<img src="~/Images/settings.png" id="icon" alt="settingIcon">
<h1 class="heading d-flex justify-content-center">
    Settings <i class="bi bi-gear"></i>
</h1>

<body>

    <button onclick="testing123()">Authorize</button>


    <button type="button" id="back">Back</button>

    <div class="question" id="question">
        <!-- 
        <div>
            <input type="radio" name="q&a" id="companyName">
            <label>By Company Name</label>
            
        </div>
        <div>
            <input type="radio" name="q&a" id="clientName">
            <label>By Client Name</label>
            
        </div>

        <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
            <label class="form-check-label" for="flexRadioDefault1">
                Default radio
            </label>
        </div>
        -->
        <div class="form-check d-flex justify-content-center">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
            <label class="form-check-label" for="flexRadioDefault1">
                Client name
            </label>
        </div>

        <div class="form-check d-flex justify-content-center">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
            <label class="form-check-label" for="flexRadioDefault2">
                Company name
            </label>
        </div>
    </div>

    <div id="selectedClientName">
        <label >Client's First Name:</label>
        <input type="text" id="clientFirst" placeholder="John">

        <label>Client's Last Name:</label>
        <input type="text" id="clientLast" placeholder="Doe">
    </div>

    <div id="selectedCompanyName">
        <label>Client's Company Name</label>
        <input type="text" id="companyName" placeholder="Wonderland Law Firm">

        <label >Client's First Name:</label><br>
        <input type="text" id="clientFirst" placeholder="John">

        <label>Client's Last Name:</label><br>
        <input type="text" id="clientLast" placeholder="Doe">
    </div>


    <div id="addMore">
    </div>


    <button type="button" id="addBtn">Add</button>
    <button class="submit-btn" type="button" id="submitBtn">Submit</button>

</body>
</html>