/*#low, #medium, #high {
    vertical-align: middle;
    align-content:flex-start;
}
*/

.bigContainer, h1, p, b {
    display: flex;
    justify-content: center;
}

p, .form-check, b {
    padding-top: 10px;
}

